*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Nav, .Footer{
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.Footer{
  justify-content: center;
}
.book{
  min-height:80vh ;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
justify-items: center;

}
.nav-link{
  text-decoration: none;
  color: white;
}
.nav-link h3{
  transition: 0.7s;

}
.nav-link h3:hover{
  color: #0d6efd;
}
.btn{
  width: 100%;
  margin-top: 10px;
}
.card-img{
  height: 50%;
  transition: 0.7s;
  cursor: pointer;
}
.card-img:hover{
  transform: scale(0.9);
}
.card-title{
  height: 20%;
  text-align: center;
}
.card-authors{
  height: 10%;
}